{% extends 'main/base.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}
<div style="padding-top:10px;"></div>
<form method="post" action="/home/">
    <span class="icon">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Home</button>
    </span>
</form>
<div>
    <h1 style="text-align:center">
        About Inventory Tracker
    </h1>
</div>
<hr></hr>
<div style="text-align:center; padding-left:200px; padding-right:200px;">
    Welcome to my inventory management website!
</div>
<div style="padding-top:25px;"></div>
<div style="text-align:center; padding-left:200px; padding-right:200px;">
  This Django-based project provides a basic 
  inventory management system with user 
  authentication and product tracking. 
  Users can register, log in, and manage
  an inventory of products. The project 
  involves the use of Django's built-in
  authentication system, models, forms
  , and views.
  </div>
<div style="padding-top:50px;"></div>
{% endblock %}