{% extends 'main/base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<br></br><form method="get" action="/{{auth}}/{{name}}/">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Go Back</button>
    
</form>
<br></br>
<p>UPC: {{view.upc}}</p>
<p>description   {{view.description}}</p>
<p>mani   {{view.mani}}</p>
<p>count   {{view.count}}</p>
<p>price   {{view.price}}</p>
<p>total   {{view.total}}</p>
<p>picture    {{view.picture}}</p>
{% endblock %}