{% extends 'main/base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<br></br><form method="get" action="/{{auth}}/{{name}}/">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Go Back</button>
    
</form>
<br></br>
<p>UPC: {{view.upc}}</p>
<p>Description:   {{view.description}}</p>
<p>Manufacturer:   {{view.manufacturer}}</p>
<p>Count:   {{view.count}}</p>
<p>Price:   {{view.price}}</p>
<p>Total price:   {{view.total}}</p>
<!--<p>picture    {{view.picture}}</p>-->
{% endblock %}