{% extends 'main/base.html' %}
{% block title %}Profile Settings{% endblock %}
{% block content %}
<div style="padding-top:25px;"></div>
<h1 style = "text-align:center;">Profile Settings</h1>
<div style="padding-top:25px;"></div>
{% if user.username == "mustafa" %}
    {% for p in profile %}
          <hr></hr>
          <br></br>
          <form method="POST" action="/profile/" class="profile">
            {% csrf_token %}
            <label for="first">First Name:</label><br>
            <input type="text" id="first" name="first" value="{{ p.name }}"><br>
            <label for="last">Last Name:</label><br>
            <input type="text" id="last" name="last" value="{{ p.last }}"><br>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" value="{{ p.user }}"><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" value="{{ p.email }}"><br>
            <input type="submit" value="Save">
            <form method="GET" action="/password_change/">
              {% csrf_token %}
              <input type="submit" value="Password Change">
            </form>
          </form>
          <br></br>
          {% endfor %}
    {% else %}
        {% for p in profile %}
        {% if user.username == p.user %}
        <hr></hr>
        <br></br>
        <form method="POST" action="/profile/">
          {% csrf_token %}
          <label for="first">First Name:</label><br>
          <input type="text" id="first" name="first" value="{{ p.name }}"><br>
          <label for="last">Last Name:</label><br>
          <input type="text" id="last" name="last" value="{{ p.last }}"><br>
          <label for="username">Username:</label><br>
          <input type="text" id="username" name="username" value="{{ p.user }}"><br>
          <label for="email">Email:</label><br>
          <input type="email" id="email" name="email" value="{{ p.email }}"><br>
          <input type="submit" value="Save">
        </form>
        <form method="GET" action="/password_change/">
          {% csrf_token %}
          <input type="submit" value="Password Change">
        </form>
        <br></br>
        {% endif %}
        {% endfor %}
{% endif %}
{% endblock %}