{% extends 'main/base.html' %}
{% load static %}
{% block title %}Inventory View{% endblock %}
{% block content %}
{% if not user.username %}
<div style="padding-top:25px;"></div>
<div class="card-header" style="background-color:rgb(152, 231, 255); border-radius: 20px;">
    <h3 style="color:rgb(255, 53, 53)">You are not logged in!</h3>
    <h5>You need to login to create inventories and add products.</h5>
    <form method="get" action="/login">
        <button type="submit" class="btn btn-info" style="display:inline-block;">Login</button>
    </form>
</div>
{% endif %}
<div style="padding-top:25px;"></div>
<form method="post" action="/home/">
    <span class="icon">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Home</button>
    </span>
</form>
<div style="text-align:right">
    {% if user.username == post.author.username or user.username == "mustafa" %}
        <form method="post" action="/home/">
        {% csrf_token %}
        <button type="submit" style="display:inline-block" onclick="myFunction()" class="btn btn-danger" name="post-id" value="{{post.id}}">Delete Inventory</button>
        </form>
    {% endif %}
</div>
<div style="text-align:right; padding-top:10px;">
    {% if user.username == post.author.username or user.username == "mustafa" %}
        <form method="get" action="/{{user.username}}/{{post.title}}/add">
            {% csrf_token %}
            <button type="submit" style="display:inline-block;" class="btn btn-success ml-3">Add Product</button>
        </form>
    {% endif %}
</div>
<div style="padding-top:25px;"></div>
<div style="text-align:center; background-color: #84b5ff; border-radius:15px; border-color: #3586ff;">
    <div style="text-align:left; padding-left: 10px; padding-top:10px; font-size: 20px;">
        {% if post.author.username != "mustafa" %}
            Created by: {{post.author.username}}
        {% else %}
            Created by Admin
        {% endif %}
    </div>
    <div>
        <div>
            <h3>{{post.title}}</h3>
            <hr></hr>
        </div>
    </div>
</div>
<div class="container">
    <table class="table table-striped mt32 customers-list">
        <thead>
            <tr class="header">
                <!--<th>Picture</th>-->
                <th>Description</th>
                <th>Manufacturer</th>
                <th>UPC</th>
                <th>Count</th>
                <th>Unit Price</th>
                <th>Total Price</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for p in products %}
            <tr>
                <!--<td>{{p.picture}}</td>-->
                <td><a href="/{{post.author.username}}/{{post.title}}/{{p.id}}/">{{p.description}}</a></td>
                <td>{{p.manufacturer}}</td>
                <td>{{p.upc}}</td>
                <td>{{p.count}} Each</td>
                <td>$ {{p.price}}</td>
                <td>$ {{p.total}}</td>
                <td>
                    {% if post.author.username == user.username or user.username == "mustafa" %}
                    <form method="post" class="action">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" name="post-id2" value="{{p.id}}">Delete</button>
                    </form>
                    {% else %}
                    <p>Can't Delete</p>
                    {% endif %}
                        </td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if products %}
<div>
</div>
{% else %}
    <div style="text-align:center;">
        <h4>This inventory has no products.</h4>
    {% if user.username == post.author.username or user.username == "mustafa" %}
        <form method="get" action="/{{user.username}}/{{post.title}}/add">
            <button type="submit" style="display:inline-block;" class="btn btn-success">Add Product</button>
        </form>
    {% endif %}
    </div>
{% endif %}
<hr></hr>
<button id="show-search" class="btn btn-primary">Search</button>
<br></br>
<h3 style="text-align:center">
    <input placeholder = "Search..." style="display:none;"  type="search" id="myInput" class="form-control search-input" data-table="customers-list"/>
    <div style="padding-top:25px;"></div>
</h3>
<script>
    document.getElementById('show-search').addEventListener('click', function() {
  var input = document.getElementById('myInput');
  if (input.style.display === 'none') {
    input.style.display = 'block';
  } else {
    input.style.display = 'none';
  }
});
    function myFunction() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }
    (function(document) {
            'use strict';

            var TableFilter = (function(myArray) {
                var search_input;
                function _onInputSearch(e) {
                    search_input = e.target;
                    var tables = document.getElementsByClassName(search_input.getAttribute('data-table'));
                    myArray.forEach.call(tables, function(table) {
                        myArray.forEach.call(table.tBodies, function(tbody) {
                            myArray.forEach.call(tbody.rows, function(row) {
                                var text_content = row.textContent.toLowerCase();
                                var search_val = search_input.value.toLowerCase();
                                row.style.display = text_content.indexOf(search_val) > -1 ? '' : 'none';
                            });
                        });
                    });
                }
                return {
                    init: function() {
                        var inputs = document.getElementsByClassName('search-input');
                        myArray.forEach.call(inputs, function(input) {
                            input.oninput = _onInputSearch;
                        });
                    }
                };
            })(Array.prototype);
            document.addEventListener('readystatechange', function() {
                if (document.readyState === 'complete') {
                    TableFilter.init();
                }
            });
        })(document);
    </script>
<br></br>
{% endblock %}